{% extends "header.html" %} {% block content %}

<style>
  .button1 {
    background-color: #0084ff;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1:hover {
    background-color: #05d3e2; /* Green */
    color: #ffffff;
  }
</style>
<div style="padding-inline: 5% 10%">
  <br />

  {% if msg %}
  <strong style="color: red">{{msg}}</strong>
  {% else %}

  <h1>Ticket Order</h1>
  <br />
  <h3>My Balance: $<u>{{bal}}</u></h2>
  <br />

  <table class="table">
    <tr>
      <th>Tickets</th>
      <th>Teir 1</th>
      <th>Teir 2</th>
      <th>Teir 3</th>
      <th>Teir 4</th>
    </tr>
    <tr>
      <td>Name</td>

      {% for seat in seats %}
      <td>{{seat}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Price</td>
      {% for price in prices %}
      <td>${{price}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Seats Available</td>
      {% for sa in seatsAvail %}
      <td>{{sa}}</td>
      {% endfor %}
    </tr>
  </table>
  <br />

  <div class="container">
    <div class="col align-self-center" style="padding-left: 2%">
      <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Purchase" />
      </form>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
